.navbar-container {
  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 999;
}

.navbar-main {
  display: flex;
  flex-direction: column;

  height: 100vh;

  background-color: #449dd1;
}

.menu-option {
  padding: 20px;

  font-size: 28px;
  text-decoration: none;
  color: #f4f1de;
}

.menu-option:hover {
  color: #173753;
  background-color: #a1e8af;
}

.close-menu {
  position: fixed;
  bottom: 20px;
  right: 25px;
}

.close-menu svg {
  height: 90px;
  width: 90px;
}
