@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;

  font-family: 'Poppins', sans-serif;
  /* color: #173753; */
}

.App {
  /* text-align: center; */

  padding: 30px 30px 0;
  color: #173753;
  
  /* background: linear-gradient(180.29deg, #449dd1 -48.43%, #a1e8af 181.05%); */
}
